.home{
  display: flex;
  
  flex-direction: column;
  align-items: center;
}

.home > h1 {
  font-size: 2rem;
  margin-bottom: 0;  
}

.home > h2 {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.home > h3 {
  font-size: 0.7rem;
  margin-bottom: 1.1rem;
  font-weight: 100;
  background: white;
  padding: 2px 40px;
  border-radius: 40px;
  width: auto;
  text-align: center;
  opacity: 0.7;
}

.home > p {
  font-size: 0.8rem;
}

.home > .logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 2rem;
  background: white;
  width: auto;
  border-radius: 8px;
  text-align: center;
  opacity: 0.9;
}


.home > .logoBox > a > .install{
  width: 1.8rem;
  height: 2rem;
  margin: 0 10px;
}

.home > .raven {
  width: 130px;
  height: 130px;
  margin: 0 10px;
  margin-top: 50px;
}

.electron-logo {
  height: 25px;
  width: 45px;
  margin-bottom: 20%;
}

.github-logo {
  height: 100px;
  width: 100px;
}

.home > .footer-text {
  font-size: 0.6rem;
  margin-bottom: 10px;
}

.gitblurb {
  margin-top: 200px;
  background: white;
  width: auto;
  text-align: center;
  opacity: 0.8;
  padding: 10px 0;
}

.example {
  height: 400px;
  width: 600px;
  margin-bottom: 70px;
  border: 2px solid grey;
  border-radius: 10px;
}

.home > .explain-text {
  font-size: 1.2rem;
  font-weight: 100;
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  width: auto;
  text-align: center;
  opacity: 0.8;
}

/* parallax */

.home {

  background-image: url("../assets/images/landscape.png");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.home > .contrib-box > .row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 7px 0;
}

.home > .contrib-box > .row > .name {
  font-size: 1rem;  
}

.home > .contrib-box {
  margin-bottom: 800px;
}

.home > .contrib-box > div > a {
  margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: black;
  text-decoration: none; /* no underline */
  font-size: 0.7rem;
  opacity: 0.7;
  margin-left: 6px;
  transition: 0.5s ease all;
}

.home > .contrib-box > div > a:hover {
  color: blue;
}

@media screen 
  and (max-width: 500px) {
  .home {
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    background-attachment: inherit;
  }
  .home > .explain-text {
    background: none;
  }
  .home > h2 {
    background: none;
  }
  .home > .logoBox {
    background: none;
  }
  .home > .gitblurb {
    background: none;
  }
  .home > h3 {
    background: none;
  }
  .home > .contrib-box {
    background: none;
  }
  .example {
    height: 160px;
    width:  220px;
  }
}